// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{
	
	padding: 0px;
	margin: 0px;
}
header{
	background-color: white;
	color: black;
	border-bottom: 2px solid black;
	font-size: 25px;
	div{
	display: flex;
	justify-content:flex-end;
	padding: 1% 2% 1% 2%;
		nav{
		width:20%;

			ul{
				display: flex;
				justify-content: space-between;
				text-align:center;
				li{
					list-style: none;

				}
			}
		}
	}
}
 h3,form{
 	margin: 1% 15%;
 }
table{
 		background-color:white;
 		color:black;
 		padding: 1% 2% 1% 2%;
 		margin: 0% 15%;
 		border: 5px solid black;
	tr{
		padding-right:1%;

		th{
		
			padding: 1% .5%;
		}

		td{
			padding: 1% .5%;
		}
	}

}